
<html>
<head>
    <title>Task Manager</title>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/login.css') }}" />
</head>
<body>
<div id="wrapper" style="text-align: center">
<div class="jumbotron">
    <h1 class="display-3">Task manager</h1>
    <p class="lead">A simple web site that makes it easier for you to plan your tasks.</p>
    <hr class="my-4">
    <p class="lead">
        <ul>
        <li><a class="btn btn-primary btn-lg" href="/login" role="button">Log in   </a></li>
        <li></li>
        <li><a class="btn btn-primary btn-lg" href="/register" role="button">Register</a></li>
    </ul>
    </p>
</div>

</div>
</body>

</html>
